.container {
  width: 76%;
  margin: 0 auto;

  .categoryButtonTitle {
    font-size: 1.75rem;
  }

  .categoryButtonCotainer{
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;

    .categoryButtonLink {
      font-size: 1.125rem;
      font-weight: 400;
    }
  }
}

@media screen and (width <= 1050px) {
  .container {
    .categoryButtonCotainer{
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@media screen and (width <= 850px) {
  .container {
    width: 82.5%;

    .categoryButtonCotainer{
      padding: 2rem 0;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
    }
  }
}

@media screen and (width <= 500px) {
  .container {
    width: 90%;

    .categoryButtonTitle {
      font-size: 1.25rem;
    }

    .categoryButtonCotainer{
      padding: 2rem 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }
}