.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

@media screen and (width <= 1050px) {
  .layout {

  }
}

@media screen and (width <= 850px) {
  .layout {

  }
}

@media screen and (width <= 450px) {
  .layout {

  }
}