.sideBar {
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  border-right: solid 1px rgba(#0f172a, 0.1);
  .title {
    margin: 0 0 3rem 1rem;
    font-size: 1.5rem;
  }
  .titleActive {
    margin: 0 0 3rem 0;
    font-size: 1.5rem;
    text-align: center;
  }
  .menu {
    .menuItem {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      .menuLink {
        padding: 0.5rem 1.75rem;
        display: flex;
        align-items: center;
        border-radius: .25rem;
        font-size: 1.25rem;
        .icon {
          margin-right: 0.5rem;
        }
      }
      .menuLinkActive {
        margin: 0 auto;
        padding: 0.5rem;
        display: block;
      }
    }
  }
  .logoutButton {
    margin-top: auto;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    border-radius: .25rem;
    .icon {
      margin-right: 0.25rem;
    }
  }
  .logoutButtonActive {
    margin-top: auto;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    border-radius: .25rem;
    .icon {
      margin: 0 auto;
      
    }
  }
}