.container {
  width: 76%;
  margin: 0 auto 5rem;

  .gridArticleTitle {
    margin-bottom: 1rem;
    font-size: 1.75rem;
  }

  .articleContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;    
  }

}

@media screen and (width <= 1050px) {
  .container {
    .articleContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (width <= 850px) {
  .container {
    width: 82.5%;
    margin: 0 auto 5rem;

    .articleContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (width <= 500px) {
  .container {
    width: 90%;
    margin: 0 auto 2rem;

    .articleContainer {
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }
  }  
}